In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('dataset/nba_data.csv')
df.head()

,Name,GP,MIN,PTS,FGS,FGA,3PM,3PA,FTM,FTA,OREB,DREB,AST,STL,BLK,TOV,5Yrs
0,Brandon Ingram,36,27.4,7.4,2.6,7.6,0.5,2.1,1.6,2.3,0.7,3.4,1.9,0.4,0.4,1.3,0
1,Andrew Harrison,35,26.9,7.2,2.0,6.7,0.7,2.8,2.6,3.4,0.5,2.0,3.7,1.1,0.5,1.6,0
2,JaKarr Sampson,74,15.3,5.2,2.0,4.7,0.4,1.7,0.9,1.3,0.5,1.7,1.0,0.5,0.3,1.0,0
3,Malik Sealy,58,11.6,5.7,2.3,5.5,0.1,0.5,0.9,1.3,1.0,0.9,0.8,0.6,0.1,1.0,1
4,Matt Geiger,48,11.5,4.5,1.6,3.0,0.0,0.1,1.3,1.9,1.0,1.5,0.3,0.3,0.4,0.8,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    1308 non-null   object
 1   GP      1308 non-null   int64
 2   MIN     1308 non-null   float64
 3   PTS     1308 non-null   float64
 4   FGS     1308 non-null   float64
 5   FGA     1308 non-null   float64
 6   3PM     1308 non-null   float64
 7   3PA     1308 non-null   float64
 8   FTM     1308 non-null   float64
 9   FTA     1308 non-null   float64
 10  OREB    1308 non-null   float64
 11  DREB    1308 non-null   float64
 12  AST     1308 non-null   float64
 13  STL     1308 non-null   float64
 14  BLK     1308 non-null   float64
 15  TOV     1308 non-null   float64
 16  5Yrs    1308 non-null   int64
dtypes: float64(14), int64(2), object(1)
memory usage: 173.8+ KB